/* Use rem instead of em */
/* Usage of flexbox */
/* Organizing layouts
1. Containers
2. Columns 
3. Attributes / Smaller columns
*/

/*Image cropping
/*
object-fit: cover;
object-position: 25% 45%;  */

body
{
  font-size: 1.125 rem;
}
.container
{
  max-width: 960px;
  margin: 0 auto;
}

img
{
  width: 100%; 
  height: 150px; 
  object-fit: cover;
  object-position: 25% 45%; 
  
}

h1
{
  font-size: 3rem;
}

h2
{
  font-size: 1.5rem;
  color: #707070;
}

p
{
  color: #707070;
}

.columns-1
{
  display: flex;
}

.columns-2
{
  display: flex;
}

.col
{

}

.notes
{
  background-color: #312614;
}