.background {
  background: linear-gradient(300deg, #F99417, white, #F99417);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
} */

body{
  margin: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.container-top
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}

.container-mid-1
{
  
  height: fit-content;
  padding: 20px;
  margin: 0px;
  
}

.container-mid-2
{
  height: fit-content;
  padding: 20px;
  background-color: ;
}

.container-bottom
{
  height: min-content;
  overflow: hidden;
  padding: 2.5rem 0;
  margin: 0;
  background-color: #F99417;
}

h1
{
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: #F99417;
}

h2
{
  margin: 0;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 1.5rem;
  color: black;
}

p
{

}

img
{
 
  border: 4px solid #F99417;
  height: 200px;
  border-radius: 10%;

}

.button-contact
{
  border: 2px solid white;
  background-color: #F99417;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;

}

.button-contact:hover
{
  border: 2px solid #F99417;
  background-color: white;
  color: #F99417;
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;

}
/* Colors: orange, white, purple, black 
Orange: F99417
Purple: 6554AF
White
Black

What kind of website ?


*/


